.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

.pageLinks {
    display: flex;
    gap: 1.5rem;
}