.header {
    display: flex;
    justify-content: space-between;
}

.contactBtn{
    color: #000;
    background-color: #fff;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
}