.card {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #333;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.strobeImage {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 35s ease-in-out; /* Increased duration for smoother transition */
}

.strobeImage.active {
  opacity: 1; /* Images will fade in when active */
}
