.hero {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 71.5rem;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 2rem);
}

p {
    font-size: 1.5rem;
}