* {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    color: #000;
    max-width: 71.5rem;
    align-items: center;
    justify-content: center;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    max-width: 35.125rem;
    max-height: 22.25rem;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.mySkills {
    display: flex;
    gap: 2.5rem;
}

.mySkills p {
    font-size: 1rem;
}

.heroText h1 {
    font-size: 4rem;
}

.heroText p {
    font-size: 1.125rem;
}

.navigation {
    display: flex;
}

.hero a {
    color: #000;
    width: 9.063rem;
    text-align: center;
    position: relative;
    padding-bottom: 0.625rem;
    transition: letter-spacing 0.3s ease;
}

.hero a::after {
    content: "";
    position: absolute;
    height: 0.125rem;
    left: 0;
    background-color: #000;
    width: 9.063rem;
    margin-top: 20px;
    bottom: 0rem;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.hero a:hover {
    letter-spacing: 0.235em;
}

.hero a:hover::after {
    opacity: 1;
}