.hero {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    max-width: 71.5rem;
    z-index: 1;
}

h1 {
    font-size: clamp(1.5rem, 10vw, 2rem);
}

p {
    font-size: 1.5rem;
}

.iconsContainer {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: flex;
    pointer-events: none;
}

.icon {
    width: 40px;
    height: auto;
    position: absolute;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.5s; /* Smooth transition for opacity */
}

@keyframes burst {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 1; /* Retain visibility during burst */
    }
}

.burst {
    animation: burst 1s forwards;
}

.icon:nth-child(1) { --x: 50px; --y: -30px; }
.icon:nth-child(2) { --x: 60px; --y: 40px; }
.icon:nth-child(3) { --x: -40px; --y: 50px; }
.icon:nth-child(4) { --x: -30px; --y: -50px; }
.icon:nth-child(5) { --x: 20px; --y: -60px; }
.icon:nth-child(6) { --x: -10px; --y: 30px; }
.icon:nth-child(7) { --x: 30px; --y: 10px; }
