.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.75rem 0.75rem 1rem;
}

.footerLeft {
    display: flex;
    gap: 0.5rem;
}

.year {
    font-size: 0.875rem;
    color: #fff;
}