.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footerLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footerLeft p {
    font-size: 1.125rem;
}

.footerRight {
    font-size: 1.125rem;
}
