.footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

p {
    font-size: 0.75rem;
}

img {
    transition: transform 0.3s, opacity 0.3s;
    width: 1.25rem;
    height: 1.175rem;
}

.right {
    display: flex;
    gap: 0.2rem;
}

a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}